@font-face {
    font-family: "Forum";
    font-style: normal;
    src: url(../fonts/Forum.woff2),
    url(../fonts/Forum.woff);
}

@font-face {
    font-family: "Forum";
    font-weight: 400;
    src: url(../fonts/Forum.woff2),
    url(../fonts/Forum.woff);
}