.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Forum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #ffffff;
  background-color: $red;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.container {
  padding: 0 16px;
}

.title {
  @include reset-style;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: block;
  padding: 19px 30px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  &--header {
    font-size: 10px;
    line-height: 11px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #ffffff;
    &:hover {
      color: #000000;
      background-color: #fff;
      transition: .6s;
    }
  }
  &--white {
    font-size: 12px;
    line-height: 13px;
    color: #010001;
    background-color: #fff;
  }
  &--black {
    padding: 18px 30px;
    font-size: 11px;
    line-height: 12px;
    color: #ffffff;
    background-color: #010001;
    &:hover {
      color: #000000;
      background-color: #fff;
      transition: .6s;
    }
  }
  &--transparent {
    padding: 16px 30px;
    font-size: 10px;
    line-height: 11px;
    color: #ffffff;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    &:hover {
      color: #000000;
      background-color: #fff;
      transition: .6s;
    }
  }
}

@media (min-width: 768px) {
  .button-header {
    padding: 22px 40px;
    font-size: 15px;
    line-height: 17px;
  }
  .title {
    position: relative;
    text-align: center;
    font-size: 30px;
    line-height: 33px;
    padding-bottom: 22px;
    &:before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 85px;
      height: 2px;
      background-color: #ffffff;
    }
  }
  .container {
    padding: 0 40px;
  }
}
