.inner-header {
    position: relative;
    z-index: 2;
    min-height: 525px;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: 0 64px;
    background-size: cover;
    &--bouquet {
        background-image: url(../images/bouquet-bg-mobile@1x.jpg);
    }
    &--wedding {
        background-image: url(../images/wedding-bg-mobile@1x.jpg);
    }
    &--composition {
        background-image: url(../images/composition-bg-mobile@1x.jpg);
    }
    &--event {
        background-image: url(../images/event-bg-mobile@1x.jpg);
    }
}

@include retina {
    .inner-header {
        &--bouquet {
            background-image: url(../images/bouquet-bg-mobile@2x.jpg);
        }
        &--wedding {
            background-image: url(../images/wedding-bg-mobile@2x.jpg);
        }
        &--composition {
            background-image: url(../images/composition-bg-mobile@2x.jpg);
        }
        &--event {
            background-image: url(../images/event-bg-mobile@2x.jpg);
        }
    }
}

.inner-info {
    padding: 30px 0px 45px;
    &__descr {
        padding: 0 20px;
    }
    &__title {
        @include reset-style;
        margin-bottom: 30px;
        white-space: pre-line;
        font-weight: normal;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
    }
    &__text {
        @include reset-style;
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 22px;
    }
    &__button {
        margin-bottom: 50px;
    }
    &__extra {
        display: none;
    }
}

.inner__slider {
    @include reset-style;
    margin-left: 20px;
    .slick-slide {
        margin: 0 7px;
        img {
            width: 100%;
            height: auto;
        }
    }
}

@media (min-width: 768px) {
    .inner-header {
        min-height: 570px;
        background-position: 0 112px;
        &--bouquet {
            background-image: url(../images/bouquet-bg-tablet@1x.jpg);
        }
        &--wedding {
            background-image: url(../images/wedding-bg-tablet@1x.jpg);
        }
        &--composition {
            background-image: url(../images/composition-bg-tablet@1x.jpg);
        }
        &--event {
            background-image: url(../images/event-bg-tablet@1x.jpg);
        }

    }
    @include retina {
        .inner-header {
            &--bouquet {
                background-image: url(../images/bouquet-bg-tablet@2x.jpg);
            }
            &--wedding {
                background-image: url(../images/wedding-bg-tablet@2x.jpg);
            }
            &--composition {
                background-image: url(../images/composition-bg-tablet@2x.jpg);
            }
            &--event {
                background-image: url(../images/event-bg-tablet@2x.jpg);
            }
        }
    }
    .inner-info {
        &__wrapper {
            display: flex;
            flex-direction: column;
        }
        &__descr {
            order: 2;
            padding: 0 50px;
        }
        &__title {
            white-space: nowrap;
            font-size: 40px;
            line-height: 44px;
        }
        &__text {
            white-space: pre-line;
            font-size: 20px;
            line-height: 24px;
        }
        &__button {
            padding: 19px 30px;
            font-size: 12px;
            line-height: 13px;
        }
        &.wedding {
            .inner-info__title {
                white-space: pre-line;
            }
        }
        &.composition {
            .inner-info__title {
                white-space: pre-line;
            }
        }
    }

    .inner__slider {
        order: 1;
        margin: 0 60px;
        margin-bottom: 70px;
        .slick-slide {
            img {
                width: 145px;
            }
        }
    }
}

@media (min-width: 1280px) {
    .inner-header {
        position: absolute;
        width: 100%;
        min-height: unset;
        height: 100px;
        background-image: none;
    }

    .inner-info {
        height: 100vh;
        padding: 0;
        background-image: url(../images/bouquet-bg-desktop@1x.jpg);
        background-position: left 0;
        background-size: 52%;
        background-repeat: no-repeat;
        &.wedding {
            background-image: url(../images/wedding-bg-desktop@1x.jpg);
            .inner-info__wrapper {
                padding-top: 100px;
            }
        }
        &.composition {
            background-image: url(../images/composition-bg-desktop@1x.jpg);
        }
        &.event {
            background-image: url(../images/event-bg-desktop@1x.jpg);
        }
        &__descr {
            padding: 0;
        }
        &__title {
            white-space: pre-line;
            font-size: 36px;
            line-height: 40px;
            &:after {
                position: absolute;
                top: 20px;
                left: -620px;
                content: "";
                width: 680px;
                height: 680px;
                background-color: transparent;
                border: 1px solid rgba(255, 255, 255, 0.2);
            }
        }
        &__text {
            white-space: unset;
            font-size: 18px;
            line-height: 27px;
        }
        &__button {
            padding: 22px 40px;
            font-size: 15px;
            line-height: 17px;
            cursor: pointer;
        }
        &__extra {
            display: block;
            @include reset-style;
            position: absolute;
            right: 50px;
            bottom: -10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 250px;
            margin-right: 0;
            font-size: 18px;
            text-align: right;
        }
        &__link {
            display: flex;
            align-items: center;
            font-size: 0;
        }
    }

    @include retina {
        .inner-info {
            background-image: url(../images/bouquet-bg-desktop@2x.jpg);
            &.wedding {
                background-image: url(../images/wedding-bg-desktop@2x.jpg);
            }
            &.composition {
                background-image: url(../images/composition-bg-desktop@2x.jpg);
            }
            &.event {
                background-image: url(../images/event-bg-desktop@2x.jpg);
            }
        }
    }

    .inner-info__wrapper {
        position: relative;
        width: 50%;
        margin: 0 auto;
        margin-right: 0;
        padding: 120px 80px 45px;
    }

    .inner-info__descr {
        order: -1;
    }

    .inner__slider {
        margin: 0;
        .slick-slide {
            position: relative;
            img {
                width: 123px;
            }
        }
        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-54%);
            right: 0;
            cursor: pointer;
        }
    }

    .footer-inner {
        display: none;
    }
}

@media (min-width: 1600px) {
    .inner-info__wrapper {
        padding: 210px 80px 45px;
    }
    .inner-info.wedding .inner-info__wrapper {
        padding-top: 130px;
    }
    .inner-info.composition .inner-info__wrapper {
        padding-top: 170px;
    }
    .inner-info.event .inner-info__wrapper {
        padding-top: 170px;
    }
    .inner-info {
        &__title {
            font-size: 50px;
            line-height: 55px;
            margin-bottom: 50px;
            &:after {
                top: 15px;
                left: -785px;
                width: 850px;
                height: 820px;
            }
        }
        &__text {
            max-width: 565px;
        }
        &__extra {
            right: 90px;
            bottom: -40px;
        }
        &__button {
            margin-bottom: 60px;
        }
    }
}
